lab10/Zadanie4_Etap2/KlientWcf/Connected Services/KotkiServiceRef/KotkiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Kotek">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plec" type="tns:Plec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kotek" nillable="true" type="tns:Kotek" />
  <xs:simpleType name="Plec">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="Plec" nillable="true" type="tns:Plec" />
  <xs:complexType name="ArrayOfKotek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kotek" nillable="true" type="tns:Kotek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKotek" nillable="true" type="tns:ArrayOfKotek" />
</xs:schema>