lab10/Zadanie4_Etap2/KlientWcf/Connected Services/KotkiServiceRef/KotkiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10000/KotkiService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceContract" />
  <xs:element name="DodajKotka">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="k" nillable="true" type="q1:Kotek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKotki">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKotkiByGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="p" type="q2:Plec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveKotek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idKotka" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKotekResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="kotki" nillable="true" type="q3:ArrayOfKotek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKotkiByPlec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="kotki" nillable="true" type="q4:ArrayOfKotek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKotkiResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="kotki" nillable="true" type="q5:ArrayOfKotek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKotekResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="usunietyKotek" nillable="true" type="q6:Kotek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>